@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 50px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none; /* Ensures the link text has no underline */
  transition: transform 0.3s ease, color 0.3s ease;
}

.link:hover {
  transform: scale(1.05); /* Slightly enlarges the link */
  color: var(--color-primary); /* Change text color on hover */
}

.link img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.link:hover img {
  cursor: pointer;
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
}


.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
